<footer class="site-footer h-card">
  <data class="u-url" href="{{ " /" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-wrapper">
      <div>
        <!-- {{ site.title | escape }} -->
        <img src="/assets/buy-me-a-coffee.svg" height="30px" />
      </div>
      <div>
        <!-- {%- include social.html -%} -->
        item 2
      </div>
      <div>
        <!-- <p>{{- site.description | escape -}}</p> -->
        item 3
      </div>
    </div>


    <!-- TODO: add copyright -->


  </div>

</footer>