<footer class="site-footer">
  <data class="u-url" href="{{ " /" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-wrapper">
      <div class="footer-support">
        {%- include footerSupport.html -%}
      </div>
      <div class="footer-data">
        <!-- {{ site.title | escape }} -->
        <div class="footer-links">
          {%- include footerLinks.html -%}
          {%- include social.html -%}
        </div>
        <div class="footer-copyright">
          {%- include footerCopyright.html -%}
        </div>
      </div>
    </div>
  </div>

</footer>