@use '../abstracts' as *;

.card {
  border: 1px solid $grey-light;
  border-left: 5px solid $color3;
  border-radius: 10px;
  padding: 15px 25px;
  box-shadow: $box-shadow;
  transition: $transition;

  &:hover {
    box-shadow: $box-shadow-hover;
    border-left: 5px solid $color4;
    transform: translateY(1px);
  }
}
