@use '../abstracts' as *;

.doc-meta {
  font-size: $small-font-size;
  color: $grey;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.doc-meta .icon {
  color: $color1;
  padding-right: 2px;
}