@use './colors' as c;

$spacing-unit:     30px !default;

$table-text-align: left !default;


// max allowable width of all content (i.e. Ultrawide monitors)
$max-body-width:  2400px !default;

// Width of the content area
$content-width:    720px !default;
$on-palm:          600px !default;
$on-laptop:        800px !default;

// Sidebar layout
$sidebar-width:    250px !default;

// Animations
$transition:       all 0.1s ease-out;
$box-shadow:       5px 5px 10px 5px c.$grey-light;
$box-shadow-hover: 10px 10px 10px 5px c.$grey-light;