@use '../abstracts' as *;

.wrapper2 {
  max-width: $max-body-width;
  margin-right: auto;
  margin-left: auto;
  @extend %clearfix;
}

/**
 * Wrapper
 */
 .wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: calc(#{$spacing-unit} / 2);
    padding-left: calc(#{$spacing-unit} / 2);
  }
}