@use '../abstracts' as *;

.site-footer {
  border-top: 1px solid $grey-light;
  padding: $spacing-unit 0;
}

.site-footer a {
  &::after{
    content: '';
  }
}

.footer-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  @include relative-font-size(0.9);
  color: $grey;
}

.footer-wrapper a {
  text-decoration: none;
  color: inherit;
}

.footer-support img {
  height: 30px;
  min-height: 15px;
  padding: 10px;
  margin-bottom: 0px;
}

@media (max-width: 400px) {
  .footer-support img {
    height: 20px;
    width: auto;
    max-width: 100%;
  }
}

.footer-data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}

.footer-links > * {
  padding: 5px;
}

.footer-links > *:not(:last-child) {
  margin-right: 10px;
}

.footer-copyright {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  @include relative-font-size(0.7);
}