---
layout: default
---

<div class="home">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.documents.size > 0 -%}
  <h2 class="post-list-heading">Posts</h2>
  <ul class="post-list">
    {%- for document in site.documents -%}
    <li class="card">
      {%- include meta_info.html date=document.date content=document.content collection=document.collection -%}
      <h3>
        <a class="post-link" href="{{ document.url | relative_url }}">
          {{ document.title | escape }}
        </a>
      </h3>
      <p class="post-description">
        {{ document.description }}
      </p>
    </li>
    {%- endfor -%}
  </ul>
  {%- endif -%}

</div>